@use './partials/variables' as*;

$fa-font-path: '../webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';

body {
    background-color: $bg-color;
}

img {
    max-width: 100%;
}

.character {
    background-color: $bg-color ;
    height: 100%
}

// .card-list {
//     padding: 40px;

// }